name: Deploy Backend

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build App
      run: |
        ./gradlew clean build -x test

    - name: Deploy JAR
      run: |
        sudo cp build/libs/*.jar /opt/backend-app/app.jar
        sudo systemctl restart backend
